@media screen and (min-width: 1280px) {

    /* Navbar */
    .address-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    .nav {
        padding: 4em;
        justify-content: space-between;
    }

    /* Heading Section */

    .heading-container {
        display: flex;
        flex-direction: column;
        gap: 3em;
        align-items: center;
        justify-content: center;
        height: 20vh;
    }

    /* Stats */

    .stats {
        padding:1em 4em;
        min-height: 35vh;
    }

    .icon-stats {
        display: block;
    }
    .container-svg {
        display: flex;
        justify-content: center;
        justify-content: center;
        padding: 1em 6em;
        background-color: #F4F4FD;
        border: 1px solid #8E8F99;
    }
    .stats-list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
    }
    .stats-list-item {
        min-width: 264px;
        padding: 0;
        height: 25vh;
    }
    .stat-h {
        font-size: 1.25em;
    }
    .stat-p {
        font-size: 1em;
        font-weight: 400;
    }

    /* Team Section*/
    .members-list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }
    .members {
        max-width: 264px;
    }
    .social-media {
        gap: 0.9em;
    }
    .social-media-links {
        width: 2.75em;
        height: 2.75em;
    }
    /* Portfolio Section */

    .portfolio-list-item {
        flex: 0 0 25%;
    }

    /* Footer */

    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 1em;
        align-items: center;
        justify-content: center;
    }
    .footer-logo-p {
        flex-direction: column;
        display: flex;
        justify-content: center;
        margin-bottom: 4em
    }
    .footer-input {
        width: 15vw;
        justify-content: center;
        align-items: flex-start;
    }
    .subscribe {
        margin-bottom: 4em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .subscribe-container {
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        gap: 1em
    }
}