@media screen and (min-width: 1280px) {

    /* Navbar */
    .address-list {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }
    .nav {
        padding-left: 5vw;
        padding-right: 5vw;
        justify-content: space-between;
        gap: 8vw;
    }
    .nav-address {
        display: flex;
        justify-content: space-between;
        width: 100vw;
    }
    .stp {
        color: #2E2F42;
    }

    /* Heading Section */

    .heading-container {
        display: flex;
        flex-direction: column;
        gap: 3em;
        align-items: center;
        justify-content: center;
        height: 20vh;
    }

    /* Stats */

    .stats {
        padding:1em 4em;
        min-height: 35vh;
    }

    .icon-stats {
        display: block;
    }
    .container-svg {
        display: flex;
        justify-content: center;
        justify-content: center;
        padding: 1em 6em;
        background-color: #F4F4FD;
        border: 1px solid #8E8F99;
    }
    .stats-list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
    }
    .stats-list-item {
        min-width: 264px;
        padding: 0;
        height: 25vh;
    }
    .stat-h {
        font-size: 1.25em;
    }
    .stat-p {
        font-size: 1em;
        font-weight: 400;
    }

    /* Team Section*/
    .members-list {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        gap: 2vw;
    }
    .members {
        max-width: 264px;
    }
    .social-media {
        gap: 0.9em;
    }
    .social-media-links {
        width: 2.75em;
        height: 2.75em;
    }
    /* Portfolio Section */

    .portfolio-list-item {
        flex: 0 0 25%;
    }
    .portfolio-list {
        row-gap: 3em;
    }
    .portfolio {
        margin-bottom: 10em;
    }

    /* Footer */

    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 2em;
        align-items:flex-start;
        justify-content: center;
    }
    .footer-logo-p {
        flex-direction: column;
        display: flex;
        justify-content: center;
        margin-bottom: 4em
    }
    .footer-input {
        width: 15vw;
        justify-content: center;
        align-items: flex-start;
    }
    .subscribe {
        margin-bottom: 4em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1em
    }
    .subscribe-container {
        display: flex;
        flex-direction: column;
        justify-content:space-between;
        row-gap: 1em
    }
    .subscribe-p {
        margin: 0;
    }
    .footer {
        padding:6em 3em 3em 3em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-social-media-links {
        gap: 1em;
    }
    .logo-footer {
        margin: 0;
    }
    .footer-logo-p {
        row-gap:1em;
    }
    .social-media-container {
        row-gap:1em;
    }
    .footer-icon-link {
        width: 2.5em;
        height: 2.5em;
    }
    .icon-footer {
        width: 60%;
        height: 60%;
    }
    .footer-button {
        width: 5em;
    }

    /* Modal */

    .modal-content {
        width: 25vw;
        min-height: 584px;
    }
}