/* Global stiller */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    display: block;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #434455;
    font-size: 16px;
    background-color: #ffffff;
    line-height: 1.5;
    max-width: 100vw;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.container {
    width: 100%;
    padding: 0 7vw;
    margin: 2em auto;
}
/* Header */

.nav-address {
    display: none;
}
.logo-studio-nav {
    color: #2e2f42;
}
.logo-nav {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #404bbf;
}
.hamburger {
    font-size: 1.5em;
}
.header-container {
    display: flex;
    align-items: center;
    height: 4em;
    margin: 0;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.nav .logo-nav:active {
    color: #404bbf;
    text-decoration: underline;
}
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* Main Section */
/* Hero */

.heading {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/people-office-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10em 0;
    text-align: center;
}
.heading-container {
    display: flex;
    flex-direction: column;
    gap: 3em;
    align-items: center;
    justify-content: center;
    height: 40vh;
}
.main-heading {
    font-size: 3.5em;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #ffffff;
    text-align: center;
    width: 40%;
}
.service {
    background-color: #4d5ae5;
    color: white;
    cursor: pointer;
    padding: 1em 2em;
    border-radius: 4px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin: auto;
    min-width: 10em;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.service:focus,
.service:hover {
    background-color: #404bbf;
}

/* Stats Section */

.stats {
    margin: 4em auto;
}

.icon-stats {
    display: none;
}
.stats-header {
    display: none;
}
.stat-h {
    text-align: center;
    font-size: 2em;
    color: #2e2f42;
}
.stat-p {
    font-size: 1.25em;
    font-weight: 500;
}
.stats-list-item {
    padding: 2.5em 0;
}

/* Team Section */

.team {
    background-color: #f4f4fd;
    padding: 7.5em 0;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 6em;
}
.team .container {
    margin: 0;
}
.section-heading {
    text-align: center;
    font-size: 3em;
    margin-bottom: 2em;
    color: #2e2f42;
}
.members-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5em;
}
.members-div {
    padding: 2em 0;
}
.members-h {
    text-align: center;
    margin-bottom: 8px;
    font-size: 1.5em;
}
.members-p {
    text-align: center;
    font-size: 1.25em;
}
.members {
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    width: 90%;
}
.members img {
    width: 100%;
}
.social-media {
    display: flex;
    justify-content: center;
    gap: 2.5em;
    margin-top: 0.75em;
}
.social-media-links {
    width: 3em;
    height: 3em;
}
.icon-socials {
    fill: #f4f4fd;
}
.social-media-links-item {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media-links-item:hover,
.social-media-links-item:focus {
    background-color: #404bbf;
}

/* Portfolio Section */

.portfolio-list-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}
.portfolio-list > li {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.app-description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2.25em 2em;
    background-color: #4d5ae5;
    color: #f4f4fd;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover .app-description {
    transform: translateY(0%);
}
.portfolio-img {
    position: relative;
    overflow: hidden;
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2.5em;
}
.portfolio-div {
    padding: 2em 1em;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-list-item {
    flex: 1 0 100%;
}
.portfolio-img img {
    width: 100%;
}
.portfolio-h {
    font-size: 1.5em;
}
.portfolio-p {
    font-size: 1.25em;
}

/* Footer */

.logo-footer:active {
    color: #404bbf;
    text-decoration: underline;
}
.footer {
    background-color: #2e2f42;
    color: #f4f4fd;
    padding: 6em 0;
}
.logo-footer {
    text-align: center;
    display: inline-block;
    margin-bottom: 1em;
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-weight: 700;
    font-size: 1.2em;
    text-transform: uppercase;
}
.logo-studio-footer {
    color: #f4f4fd;
}
.footer-logo-p {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    margin-bottom: 3em;
}
.footer-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    padding: 0 1em;
}
.footer-social-media-links {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
    align-items: center;
    justify-content: center;
}
.social-media-container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
    justify-content: center;
    margin-bottom: 4em;
}
.footer-icon-link {
    width: 2.5em;
    height: 2.5em;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: #31d0aa;
}
.icon-footer {
    fill: #f4f4fd;
}
.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.subscribe-p {
    margin-bottom: 1.3em;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.footer-form {
    display: flex;
    gap: 1.5em;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footer-input {
    width: 80vw;
    height: 3em;
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 0.8em;
    line-height: 2;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 1em;
    color: #ffffff;
}
.footer-input::placeholder {
    color:rgba(255, 255, 255, 0.5);
}
.footer-button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 10em;
    height: 2.5em;
    background-color: #4d5ae5;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 1em;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.04em;
    cursor: pointer;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-button:hover {
    background-color: #404bbf;
}