@media screen and (min-width: 768px) {
    .nav-socials {
        display: none;
    }
    .hamburger {
        display: none;
    }
    .nav-address-button {
        display: none;
    }
    .nav-address {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15vw;
    }
    .nav {
        gap: 10%;
        justify-content: center;
    }
    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 40px;
    }
    .container {
        padding: 1em;
    }
    .stp {
        font-size: 16px;
        font-weight: 500;
    }
    .address-list a {
        color: #434455;
        text-decoration: none;
        font-style: normal;
    }
    .address-list {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
    }
    .stp:hover,
    .stp:focus,
    .info:hover,
    .info:focus {
        color: #404bbf;
    }

    /*  Heading */

    .service {
        margin-top: 1vh;
    }

    /*Stats */

    .stats-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        column-gap: 4em;
    }
    .stats-list-item {
        display: flex;
        flex-direction: column;
        max-width: 45%;
    }
    .stat-h {
        align-self: self-start;
    }

    /* Team */

    .members-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .members {
        align-items: center;
        justify-content: center;
        max-width: 40%;
    }

    /* Our Portfolio */

    .portfolio-list-item {
        flex: 0 0 47%;
    }
    .portfolio-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    /* Footer */

    .footer-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 1em;
        align-items: center;
        justify-content: space-between;
        padding: 0 5em;
    }
    .footer-logo-p {
        padding-left: 1em;
        display: flex;
        align-items:start;
        width: 50%;
    }
    .social-media-container {
        display: flex;
        flex-direction: column;
        row-gap: 2.5em;
        align-items:start;
        justify-content: start;
        margin-bottom: 4em;
        align-self: flex-start;
    }
    .footer-icon-link {
        width: 3em;
        height: 3em;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .icon-footer { 
        width: 30px;
        height: 30px;
    }
    .subscribe {
        display: flex;
        flex-direction: row;
        gap: 4em;
        padding: 0 1em;
        
    }
    .footer-input {
        width: 35vw;
        justify-content: center;
        align-items: flex-start;
    }
    .footer-button {
        align-self: flex-end;
    }

    /* Modal */

    .modal-content {
        width: 50vw;
        min-height: 584px;
    }
}